* {
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
ol,
ul {
  padding: 0 20px;
}
.container {
  background-color: #fff;
  border: 1px solid #b9b9b9;
  padding: 2rem 2rem 4rem;
  border-radius: 5px;
}
button,
input[type="submit"] {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid;
  margin: 1rem 0;
  cursor: pointer;
}

#advanceList {
  background-color: #daffc1;
}
input[type="submit"] {
  background-color: #b1ffef;
}
#clearList {
  background-color: #695959;
  color: #ffffff;
}

#addNewPlayer,
#editPlayer {
  display: none;
}
#addNewPlayer.active,
#editPlayer.active {
  display: block;
}

#formToggle.active {
  text-indent: -9999px;
  line-height: 0; /* Collapse the original line */
}

#formToggle.active::after {
  content: "Hide Form";
  text-indent: 0;
  display: block;
  line-height: initial; /* New content takes up original line height */
}

.input-group {
  display: flex;
  gap: 0.5rem;
}

.align-right {
  justify-content: flex-end;
}

.input {
  margin-bottom: 1rem;
}

label {
  display: block;
}

.input label {
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="number"] {
  min-height: 40px;
  text-indent: 0.5rem;
  width: 100%;
}

.list .player label {
  padding: 0.5rem 0;
}

.player {
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
}

.player:nth-child(even) {
  background-color: #ebebeb;
}

.player.active {
  border: 2px solid green;
}

.player.active:after,
.player.on-deck:after {
  position: absolute;
  top: 12px;
  right: 8px;
  font-size: 0.8rem;
  display: block;
}

.player.active:after {
  content: "Batting";
  color: green;
}

.player.on-deck {
  border: 2px solid blue;
}

.player.on-deck:after {
  content: "On Deck";
  color: blue;
}

.player.standby {
  background-color: red;
  color: #ffffff;
}
